<div class="principal" fxLayout="center" fxLayoutAlign="center">
  <div id="register-form-card" fxFlex="60">
    <div id="card-header">
      <div id="questions-logo-div" fxLayout="center" fxLayoutAlign="center">
        <img id="questions-logo" src="../../assets/questions-logo-clean.png" alt="questions!">
      </div>
    </div>
    <mat-card-content id="register-form-content">
      <form [formGroup]="registerForm">
          <h2 class="desc-text">Teacher registry</h2>
        <mat-form-field class="input-value">
          <input matInput placeholder="teacher-code" formControlName="teacherId">
        </mat-form-field>
        <mat-form-field class="input-value">
          <input matInput placeholder="name" formControlName="teacherName">
        </mat-form-field>
        <mat-form-field class="input-value">
          <mat-label>Area</mat-label>
          <mat-select formControlName="teacherTopic">
            <mat-option *ngFor="let area of areas" [value]="area.value">
              {{area.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <h3 class="desc-text">Contact information</h3>
        <div formGroupName="teacherContact">
            <mat-form-field class="input-value">
                <input matInput placeholder="email" formControlName="email">
              </mat-form-field>
              <mat-form-field class="input-value">
                  <input matInput placeholder="number" formControlName="contactPhone">
                </mat-form-field>
        </div>
        <button class="input-value submit-btn" mat-button color="primary">Registry</button>
      </form>
    </mat-card-content>


  </div>
</div>
