.principal {
  background: radial-gradient(circle,
      rgba(241, 245, 243, 1) 0%,
      rgba(148, 187, 233, 1) 100%);

  overflow-y: auto;
  max-height: 100%;
}

#register-form-card{
  background: whitesmoke;
  margin-top: 1%;
}

.input-div{
  width: 100%;
}


.input-value{
  width: 80%;
  display: block;
  margin: 0 auto;
}

.desc-text{
  max-width: 40%;
  text-align: center;
  color: rgb(69, 120, 230);
  margin-top: 2%;
  margin-bottom: 2%;
}

.submit-btn{
  background:rgb(70, 14, 173);
  color: whitesmoke;
}

