.principal {
  background: radial-gradient(circle,
      rgba(241, 245, 243, 1) 0%,
      rgba(148, 187, 233, 1) 100%);

  overflow-y: auto;
  height: 100%;
}

#register-form-card {
  background: whitesmoke;
  margin-top: 1%;
  height: -moz-available;
}


#questions-logo-div {
  margin: 2% auto;
}


.input-value {
  width: 80%;
  display: inherit;
  margin: 0 auto;
}

.desc-text {
  max-width: 40%;
  text-align: center;
  color: rgb(28, 120, 196);
  margin-top: 2%;
  margin-bottom: 2%;
}

.submit-btn {
  background: rgb(28, 120, 196);
  color: whitesmoke;
  width: 50%;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}


form {
  margin-bottom: 5%;
  display: block;
}

#spinner {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 20%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-snack-bar-container {
  background: rgb(28, 120, 196);
}


::ng-deep .mat-simple-snackbar-action {
  color: white;
}
